<!DOCTYPE html>
html(lang="es")
    head
        include baseinfo/header
    body
        header.barra
            h1 Activdades de tareas
            a(href="#") cerrar sesion

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nueva-actividad" class="boton") Nueva Activdad
                        span +

                .panel.lista-proyectos
                    h2 Actividades
                    ul#proyectos.proyectos
                       if(pasarActividades.length)
                            each actividades in pasarActividades
                                li
                                    a(href=`/actividades/${actividades.idActividades}`)= actividades.nombre 
            block contenido

        //-   pre= ArregloLimpiado(pasarActividades)               

        script(src="/dist/app.js")

    
