<!DOCTYPE html>
html(lang="es")
    head
        include baseinfo/header-index
    body
        header
            nav.navbar.navbar-expand-lg.color-header
                .container-fluid
                     a.navbar-brand.text-white(href='#') Organiza tus actividades
                span.navbar-text
                a.text-white(href='/salir')  Cerrar Sesión
        main.barra-barra-izquierda
            aside.es-menu-izquierdo
                .muestra-actividades
                    a(href="/nueva-actividad" class="btn btn-primary") Nueva Activdad
                        span 

                .muestra-actividades.lista-actividades
                    h2 Actividades
                    ul#activididades.lista-actividades
                       if(pasarActividades.length)
                            each actividades in pasarActividades
                                li
                                    a(href=`/actividades/${actividades.idActividades}`)= actividades.nombre 
            block contenido

        //-   pre= ArregloLimpiado(pasarActividades)               

        script(src="/dist/app.js")

    
