<!DOCTYPE html>
html(lang="es")
    head
        include baseinfo/header
    body.login
        .contenedor-formulario
            h1 Crear tu cuenta

             if locals.Alerta
                .alertas
                    each val in Object.keys(locals.Alerta)
                        each error in Alerta[val]
                            .alerta(class= `${val}` )
                                p= error

            form#formulario.caja.caja-login(method="POST" action="/crea-cuenta")
                .campo
                    label(for="email") Correo Electronico
                    input(type="email" name="email" placeholder="Tu correo" value= email )
                .campo
                    label(for="password") Tu contraseña
                    input(type="password" name="password" placeholder="Tu contraseña" value= password )
                .campo
                    label(for="nombre") Tu Nombre
                    input(type="text" name="nombre" placeholder="Tu nombre" value=  nombre)    
                .campo.enviar
                    input.boton(type="submit" value="Registrarse")
                .campo
                    a(href="/login") Iniciar sesion
    script(src="/dist/app.js")                


