extends  archivoBase
include elementos/crearActividades


block contenido
    .container
        h1.textoCentro #{nombrePagina}
        
        pre= ArregloLimpiado(actividades)  

        if error
            each arreglo in error
                .alert.alert-danger= arreglo.errorTexto
        +crearActividades(actividades)
