extends  archivoBase
include elementos/crearActividades


block contenido
    .contenido-principal
        h1 #{nombrePagina}
        
        pre= ArregloLimpiado(actividades)  

        if error
            each arreglo in error
                .alert.alert-danger= arreglo.errorTexto
        +crearActividades(actividades)
