html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}
/** Header */
.color-header{
    background-color: #162B32;
}


/** Personalizado Custom  **/
    /** Alerta **/
    .alerta {
        text-align: center;
    }

    .textoCentro {
        text-align: center;
    }

    .marcado {
        color: #00B762;
    }
    .correcto {
        color: green;
        background-color: rgb(201, 245, 201);
        border: 1px solid green;
    }
    .correcto p {
        color: green;
    }


/**  **/

/** Barra **/
body.index {
    height: 100vh;
}
/*** sidebar**/
.es-menu-izquierdo {
    height: 100%;
    max-width: 300px;
    background-color: #162B32;
    padding-top: 1rem;
}
.muestra-actividades {
    padding: 1rem;
    margin: 1rem;
}
.muestra-actividades a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.muestra-actividades h2 {
    color: #FDD835;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.lista-actividades ul{
    list-style: none;
    padding: 1.5rem 0 0 0;
    margin: 0;
}
.lista-actividades ul li {
    margin-bottom: 1rem;
}

.barra-barra-izquierda {
    display: flex;
    height: calc( 150vh - 60px);
}

/** CSS para las tareass en el div del css **/
.ver-lista-tareas {
    background-color: #F2F2F2;
    max-width: 800px;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border: 1px solid #999;
}
.ver-lista-tareas ul {
    padding: 0;
    list-style: none;
}
.ver-lista-tareas ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border-bottom: 1px solid #d1d1d1;
}
.lver-lista-tareas ul li:last-of-type {
    border-bottom: none;
}
.ver-lista-tareas ul li i {
    cursor: pointer;
}

/*  CSS sebnt **/
.acciones i:last-child{
    margin-left: 3rem;
}


/** Enviar barra para CSS **/
.barra-body {
    height: 30px;
    border: 1px solid #999;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}
.subirPorcentaje {
    width: 0%;
    height: 100%;
    background-color: #00B762;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    transition: width .3s ease;
}

form.fondo {
    max-width: 800px;
    width: 90%;
    background-color: #162B32;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    transition: background-color .5s ease-in-out;
}

.botones-Abajos {
    max-width: 800px;
    margin: 2rem auto 0 auto;
    width: 90%;

    display: flex;
    justify-content: space-between;
}